

<!-- BOTONES -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li><%= image_tag("rogerBikes.png", :alt => "Logo", :class => "navimg") %></li>

       <!--
  		 <li class="liNav"> <%= link_to 'Quiénes Somos', { :controller => "/products", :action => :index }, { :class=>('')}%> </li> -->

       <li class="liNav"> <%= link_to 'Catálogo', { :controller => "/products", :action => :index }, { :class=>('')}%></li>

  		 <li class="liNav"> <%= link_to 'Noticias', { :controller => "/news", :action => :index }, { :class=>('')}%></li>

  		 <li class="liNav"> <%= link_to 'Eventos', { :controller => "/events", :action => :index }, { :class=>('')}%></li>

  		 <li class="liNav"> <%= link_to 'Sucursales', { :controller => "/stores", :action => :index }, { :class=>('')}%></li>

      <% if current_user && current_user.superadmin_role? %>
        <li class="liNav"> <%= link_to 'Categorias', { :controller => "/categories", :action => :index }, { :class=>('')}%></li>
      <% end %>
       
  		 
      </ul>
      <ul class="nav navbar-nav navbar-right">

      <!--
        <li class="liNav"><a href="#"><span class="glyphicon glyphicon-user"></span> </a></li>
      
      -->

      <% if user_signed_in? %>
 
          <li class="liNav cart-text"><%= render 'layouts/cart_text' %></li>    

          <!--<li class="liNa">
            <%= link_to('Edit registration', edit_user_registration_path) %>
          </li>-->
        
          <li class="liNa">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
          </li>    

          

      <% else %>

        
          <li class="liNa">
            <%= link_to('Registro', new_user_registration_path)  %>
          </li>
        
          <li class="liNa">
            <%= link_to('Iniciar sesión', new_user_session_path)  %>
          </li>  

      <% end %>
      </ul>
    </div>
  </div>
</nav>

