<!-- BANNER -->
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>

<div class="jumbotron">
  <div class="container text-center">
    	<center>
        <%= image_tag("rogerBikes.png", :alt => "Img", :class => "main-img")%>
  		</center>     
  </div>
</div>

<!-- BOTONES -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
  		 <li> <%= link_to 'Quienes Somos', { :controller => :welcome, :action => :index }, { :class=>('')}%> </li> 
  		 <li> <%= link_to 'Noticias', { :controller => :news, :action => :index }, { :class=>('')}%></li>
  		 <li> <%= link_to 'Eventos', { :controller => :events, :action => :index }, { :class=>('')}%></li>
  		 <li> <%= link_to 'Sucursales', { :controller => :stores, :action => :index }, { :class=>('')}%></li>
  		 <li> <%= link_to 'Catalogo', { :controller => :products, :action => :index }, { :class=>('')}%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> </a></li>
        <li> <%= link_to 'Iniciar sesion', { :controller => :login, :action => :index }, { :class=>('')}%></li>  
       <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> </a></li>
        <li> <%= link_to 'Carrito', { :controller => :login, :action => :index }, { :class=>('')}%></li>  
      </ul>
    </div>
  </div>
</nav>

