

<!-- BOTONES -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li><%= image_tag("rogerBikes.png", :alt => "Logo", :class => "navimg") %></li>
  		 <li class="liNav"> <%= link_to 'Quiénes Somos', { :controller => "/welcome", :action => :index }, { :class=>('')}%> </li> 

  		 <li class="liNav"> <%= link_to 'Noticias', { :controller => "/news", :action => :index }, { :class=>('')}%></li>

  		 <li class="liNav"> <%= link_to 'Eventos', { :controller => "/events", :action => :index }, { :class=>('')}%></li>

  		 <li class="liNav"> <%= link_to 'Sucursales', { :controller => "/stores", :action => :index }, { :class=>('')}%></li>
       
  		 <li class="liNav"> <%= link_to 'Catálogo', { :controller => "/products", :action => :index }, { :class=>('')}%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="liNav"><a href="#"><span class="glyphicon glyphicon-user"></span> </a></li>

      <% if current_user.nil? %>
        <%= link_to new_user_session_path, class: 'login-button' do %>Iniciar sesión<% end %>
      <% else %>
        <%= link_to new_product_path, class: 'login-button' do %>Menu<% end %>
      <% end %>

      <% if user_signed_in? %>
 
        <%= link_to('Edit registration', edit_user_registration_path) %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        

      <% else %>

        <%= link_to('Register', new_user_registration_path)  %>
        <%= link_to('Login', new_user_session_path)  %>  

      <% end %>

      <li class="liNav"> <%= link_to image_tag('carrito2.png'), { :controller => "/cart", :action => :index }, { :class=>('')}%></li>  
      </ul>
    </div>
  </div>
</nav>

