<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.productName %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for order_item, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-4">
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= link_to "Eliminar", order_item, { data: { confirm: "¿Estás seguro que quieres eliminar '#{order_item.product.productName}' de tu carrito?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Precio Total: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
    </div>

  </div>
</div>