<%= form_for @news do |f| %>
	<% if @news.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:
	      </h2>
	      <ul>
	        <% @news.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
    <% end %>

	<p>
		<%= f.label :Título %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :Texto %><br>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.label :Autor %><br>
		<%= f.text_field :author %>
	</p>

	<%= image_tag @news.image.url, :size => "250x250" if @news.image_stored? %>
	
	<p>
		<%= f.label :Imagen %><br>
		<%= f.file_field :image %>
	</p>
	<br>
	<p>
		<%= f.submit "Agregar", :class => "addBtn"%>
	</p>
<% end %>