<div class="container">
  <h1 class="show-title">Noticias</h1>
  <hr>

  <% if current_user && current_user.superadmin_role? %>
    <center>
    <%= link_to 'Agregar noticia', new_news_path, :class => "linkText" %>
    </center>
    <hr>
  <% end %>

  <% if @news.size == 0 %>
    <center>
      <p>Aún no hay noticias.</p>
    </center>
    <hr>
  <% end %>

  <div class="container">
    <% @news.each do |news| %>
      <div class="row">
        <div class="col-md-3">
        <div class="container">
          <div class="well">
            <div class="media">
              <a class="pull-left" href="#">
                <%= image_tag news.image.url, :size => "150x150"%>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><strong> <%= news.title %> </strong> </h4>
                  <p class="text-right"><strong> Autor:</strong> <%= news.author %> </p>
                  <p> <%= news.body %> </p>
              </div>
            </div>
          </div>  
          <div class="links">
            <a href="">
                <%= link_to 'Mostrar', news_path(news), :class => "linkText" %>
            </a>
            <% if current_user && current_user.superadmin_role? %>
              <a href="">
                  <%= link_to 'Editar', edit_news_path(news), :class => "linkText" %>
              </a>
              <a href="">
                  <%= link_to 'Borrar', news_path(news), :class => "linkText", method: :delete, data: { confirm: '¿Estas seguro?'}%>
              </a>
            <% end %>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <% end %>
  </div>
</div>