<div class="container">
		<center>
		<h1 class="show-title">
			<%= @news.title %> <small>Noticias</small>
		</h1><hr>
		<div class="wrapper">
			<div class="wrapper-left">
				<p align="justify">
					<%= @news.body %>
				</p>

				<p align="left">
					<strong>Autor:</strong>
					<%= @news.author %>
				</p>
			</div>
			<div class="wrapper-right" align="center">
				<div class="wrapper-img" align="center">
				<%= image_tag @news.image.url, :size => "350x350"%>
				</div>
			</div>
		</div>
		<br>
		</center>
</div><br>
<center>	<%= link_to 'Volver a noticias', news_index_path, :class => "linkText"  %></center>

