<center>
<h1>Eventos</h1>
</center>

<% if current_user && current_user.superadmin_role? %>
  <center>
  <%= link_to 'Agregar evento', new_event_path %>
  </center>
  <hr>
<% end %>

<% if @events.size == 0 %>
  <center>
    <p>Nada por aquí</p>
  </center>
  <hr>
<% end %>

<div class="container">
  <% @events.each do |evento| %>
    <div class="row">
      <div class="col-md-3">
      <div class="container">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag evento.image.url, :size => "150x150"%>
            </a>
            <div class="media-body">
              <h4 class="media-heading"> <%= evento.title %> </h4>
                <p class="text-right"> <%= evento.date %> </p>
                <p> <%= evento.body %> </p>
            </div>
          </div>
        </div>  
        <div class="links">
          <a href="">
              <%= link_to 'Show', event_path(evento) %>
          </a>
          <% if current_user && current_user.superadmin_role? %>

            <a href="">
                <%= link_to 'Edit', edit_event_path(evento) %>
            </a>
            <a href="">
                <%= link_to 'Destroy', event_path(evento), method: :delete, data: { confirm: 'Are you sure?'}%>
            </a>
          <% end %>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <% end %>
</div>