<div class="container">
		<center>
		<h1 class="show-title">
			<%= @event.title %> <small>Eventos</small>
		</h1><hr>
		<div class="wrapper">
			<div class="wrapper-left">
				<p align="justify">
					<%= @event.body %>
				</p>

				<p align="left">
					<strong>Fecha:</strong>
					<%= @event.date %>
				</p>
			</div>
			<div class="wrapper-right" align="center">
				<div class="wrapper-img" align="center">
				<%= image_tag @event.image.url, :size => "350x350"%>
				</div>
			</div>
		</div>
		<br>
		</center>
</div><br>
<center>	<%= link_to 'Volver a eventos', events_path, :class => "linkText"  %></center>