<% if current_user && (current_user.superadmin_role? || current_user.supervisor_role?) %>
    <center>
    <%= link_to 'Agregar Producto', new_product_path %>
    </center>
<% end %>

<% if @products and @products.size == 0 %>
  <center>
    <p>Nada por aquí</p>
  </center>
  <hr>
<% end %>


<!-- Page Features -->

<!-- Title -->
<div class="row">
    <div class="col-lg-12" align="center">
        <h2>Catálogo</h2> 
    </div>
    <div class="col-lg-12" align="center">
        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
            <%= select_tag(:search,  options_from_collection_for_select(Category.all, :id, :categoryName), include_blank: 'todas' )%>
            <%= submit_tag "Search" %>
        <% end %>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-center">
        <% @products.each do |product| %>
            <%= form_for @order_item, remote: true do |f| %>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag product.image.thumb('300x300#').url%>
                    <div class="caption">
                        <div class="row">
                            <%= product.productName %> - <%= number_to_currency  product.price %>
                        </div>
                        <% if product.category %>
                        <p>Categoria: <%= product.category.categoryName %></p>
                        <% end %>
                        <div class="input-group-btn">
                            <%= f.hidden_field :product_id, value: product.id %>
                            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                          </div>
                            <a href="">
                                <%= link_to 'Show', product_path(product) %>
                            </a>
                        <% if current_user &&  (current_user.superadmin_role? || current_user.supervisor_role?) %>
                            <a href="">
                                <%= link_to 'Edit', edit_product_path(product) %>
                            </a>
                            <a href="">
                                <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?'}%>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
<!-- /.row -->
