<center>
	<h1 align="center">
		<%= @product.productName %>
	</h1><br>
	<div class="wrapper">

		<div class="wrapper-left">
			<p align="justify">
				<strong>Descripción:</strong>
				<%= @product.productDescription %>
			</p>

			<p align="left">
				<strong>Precio:</strong>
				$<%= @product.price %> MXN
			</p>
		</div>
		<div class="wrapper-right" align="center">
			<div class="wrapper-img" align="center">
			<%= image_tag @product.image.url, :size => "250x250"%>
			</div>
		</div>
		<br><%= link_to 'Volver a productos', products_path %>
	</div>
</center>