<center>
	<h1 align="center">
		<%= @product.productName %>
	</h1><br>
	<div class="wrapper-products">
		<div class="wrapper-left-products">
			<p align="justify">
				<strong>Descripción:</strong>
				<%= @product.productDescription %>
			</p>
			
			<p align="justify">
				<strong>Categoria: </strong>
				<%= @product.category.categoryName %>
			</p>

			<p align="left">
				<strong>Precio:</strong>
				$<%= @product.price %> MXN
			</p>
		</div>
		<div class="wrapper-right-products" align="center">
			<div class="wrapper-img" align="center">
			<%= image_tag @product.image.thumb('300x300#').url%>
			</div>
		</div>
		<br><%= link_to 'Volver a productos', products_path %>
	</div>
</center>