<div class="container">
		<center>
		<h1 class="show-title">
			<%= @product.productName %> <small>Productos</small>
		</h1><hr>
		<div class="wrapper">
			<div class="wrapper-left">
				<p align="justify">
					<strong>Descripción: </strong> <%= @product.productDescription %>
				</p>

				<p align="left">
				<strong>Categoria: </strong>
				<%= @product.category.categoryName %>
				</p>

				<p align="left">
				<strong>Precio:</strong>
				$<%= @product.price %>0 MXN
			</p>
		</div>
		<div class="wrapper-right-products" align="center">
			<div class="wrapper-img" align="center">
			<%= image_tag @product.image.url, :size => "300x300"%>
			</div>
		</div>
		<br>
		</center>
</div><br>
<center>	<%= link_to 'Volver a productos', products_path, :class => "linkText"  %></center>

