<%= form_for @category do |f| %>
	<% if @category.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@category.errors.count, "error") %> prohibited this news from being saved:
	      </h2>
	      <ul>
	        <% @category.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
    <% end %>

	<p>
		<%= f.label :nombre_de_la_categoría %><br>
		<%= f.text_field :categoryName %>
	</p>

	<p>
		<%= f.label :descripción_de_la_categoría %><br>
		<%= f.text_area :categoryDescription, size: "35x6" %>
	</p>
	<br>
	<p>
		<%= f.submit "Agregar", :class => "addBtn" %>
	</p>
<% end %>