<div class="col-sm-offset-4 col-sm-4 centered">
  <div class="form-page">
    <div class="form">
      	<h2>¿Olvidaste tu contraseña?</h2>
      	<p align="justify">Enviaremos instrucciones a tu correo electrónico para que puedas restablecerla.</p>
      	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	  	<%= devise_error_messages! %>
	        <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true %>
			</div>

	        <div class="actions">
				<%= f.submit "Recuperar contraseña", :class => "loginBtn" %>
			</div>
      	<% end %>
      	<%= render "users/shared/links" %>
    </div>
  </div>
</div>